# Dependencies
node_modules/

# Environment & Secrets
.env
.env.*
auth.json
storageState.json
state.json
auth/

# Test Artifacts & Reports
playwright-report/
test-results/
allure-report/
allure-results/
allure-report-single/
allure-single/
screenshots/
errors/
*.trace.zip
*.mp4
*.png
*.webm


# Coverage & Build
coverage/
dist/
build/

# CI/CD (optional - uncomment if you don't want these in Git)
# azure-pipelines.yml
# Jenkinsfile
# .github/

# System & Editor
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
tmp/
NUL
NULgit

# Misc
.prettierrc.json
*.log