# dependencies
node_modules/

# env & secrets
.env
.env.*
state.json
auth.json
storageState.json

# data files
*.xlsx
data/

# playwright artifacts
playwright-report/
test-results/
*.trace.zip
*.mp4
*.png
errors/

# allure
allure-results/
allure-report/
allure-report-single/

# coverage/build
coverage/
dist/
build/

# config files
.prettierrc.json
auth.json
package-lock.json
playwright.config.js
global-setup.js
azure-pipelines.yml

# desktop files
desktop.ini
NUL.git

# system/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
tmp/

# .gitignore
allure-report/
allure-report-single/
allure-results/